{% extends "main.html" %}
{% load static %}

{% block javascript-link %}
    <script src="{% static 'javascript/generate_note.js' %}"></script>
{% endblock %}
    
{% block stylesheet-link %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
    Home
{% endblock %}

{% block card-header %}
    Welcome to the home page of random notes!
{% endblock %}
{% block content %}
    <a href="/notes">Notes</a>
    <input id="current_delay" type="number" value="1">
    <button class="btn" id="confirm_delay" onclick="set_delay()">Confirm</button>
    <input class="checkbox" id="note_check" type="checkbox">
    <p id="current_delay_text"></p>
    <hr>
    <h1 id="note_generated"></h1>
{% endblock %}
